body {
    margin: 0;
    padding: 0;
    font-size: 100%; /* Define o tamanho da fonte base */
}

.responsive-image {
    width: auto; /* A largura é ajustada automaticamente */
    height: 80vh; /* A imagem ocupa 80% da altura do viewport na orientação landscape */
    display: block; /* Remove o espaço em branco abaixo da imagem */
}